.header {
  position: fixed;
  width: 100%;
  height: 120px;
  top: 0;
  background-color: $color-light-xl;
  z-index: 1;
}

.header .wrapper {
  width: 1200px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.heading,
.burger-menu__heading {
  width: 190px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.heading_disabled {
  opacity: 0;
}

.title,
.burger-menu__title {
  @include logo_title;
}

.heading_description,
.burger-menu__description {
  @include logo_subtitle;
}

.burger-menu__title {
  color: $color-primary;
}

.burger-menu__description {
  color: $color-light-xl;
}

.navigation {
  width: 445px;
  display: inline-flex;
  justify-content: space-between;
}

.navigation__item {
  list-style-type: none;
  display: inline-block;

  a {
    text-decoration: none;
    @include paragraph-l;
    color: $color-dark-l;
  }
}

.navigation__item_active {
  border-bottom: 3px solid $color-primary;

  a {
    color: $color-dark-3xl;
  }
}

.navigation__item:nth-child(3),
.navigation__item:nth-child(4) {
  pointer-events: none;
}

.menu-icon {
  width: 30px;
  height: 22px;
  transform: rotate(0deg);
  transition: .6s;

  &:hover {
    cursor: pointer;
  }
}

.menu-icon_open {
  transform: rotate(90deg);
  transition: .6s;
}

@media screen and (max-width: 1279px) {
  .header .wrapper {
    width: calc(100% - 60px);
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .header .wrapper {
    margin-left: 10px;
  }

  .navigation {
    display: none;
  }
}