.pets {
  padding-top: 200px;
  height: 1462px;
  background-color: $color-light-l;
}

.pets .wrapper {
  width: 1200px;
  height: 1162px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.subtitle {
  @include h3;
  color: $color-dark-l;
  text-align: center;
}

.cards {
  width: 1200px;
  height: 900px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 30px;
}

.card {
  width: 270px;
  height: 435px;
  background-color: $color-light-s;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  overflow: hidden;
  animation-name: fade-in;
  animation-duration: .5s;
  &:hover {
    cursor: pointer;
    background-color: $color-light-xl;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card__image {
  width: 270px;
  height: 270px;
  img {
    width: 100%;
    height: auto;
  }
}

.card__name {
  margin: 30px 0;
  color: $color-dark-l;
  font-family: Georgia;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.27rem;
  letter-spacing: 0.1rem;
}

.card_button {
  width: 187px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid $color-primary;
  background-color: $color-light-s;
  outline: none;
  color: $color-dark-3xl;
  font-family: Georgia;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.27rem;
  letter-spacing: 0.1rem;
  &:hover {
    cursor: pointer;
    background-color: $color-primary;
  }
}

.control-panel {
  width: 340px;
  height: 52px;
  display: flex;
  justify-content: space-between;
}

.to-beginning,
.slide-left, 
.slide-right,
.to-end {
  font-family: Georgia;
  font-weight: normal;
  font-size: 2rem;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  outline: none;
  border: 2px solid $color-primary;
  background-color: $color-light-l;
  font-size: 1.6rem;
  font-weight: bold;
  padding-bottom: 2px;
  &:hover {
    cursor: pointer;
    background-color: $color-primary;
  }
}

.current-page {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-page__number {
  @include h4;
}

.button_disabled {
  border: 2px solid $color-dark-s;
  pointer-events: none;
}

.burger-menu {
  display: none;
}

.side-menu {
  display: none;
  position: fixed;
  top: 50px;
  left: calc(100% - 60px);
  z-index: 25;

}

@media screen and (max-width: 1279px) {
  .pets {
    height: 1853px;
  }

  .pets .wrapper {
    width: 580px;
    height: 1603px;
    justify-content: flex-start;
  }

  .cards {
    width: 580px;
    height: 1365px;
    margin-top: 30px;
    flex-wrap: wrap;
  }

  .card:nth-child(7),
  .card:nth-child(8) {
    display: none;
  }

  .control-panel {
    margin-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .pets {
    height: 1769px;
    padding-top: 120px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  .pets .wrapper {
    width: 300px;
    height: 1565px;
    justify-content: space-between;
  }
  
  .subtitle {
    @include h3-mobile;
  }

  .cards {
    width: 270px;
    height: 1365px;
    margin-top: 0;
  }

  .card:nth-child(4),
  .card:nth-child(5),
  .card:nth-child(6) {
    display: none;
  }

  .control-panel {
    width: 300px;
    margin-top: 0;
  }

  .burger-menu {
    display: initial;
    width: 320px;
    height: 823px;
    background-color: $color-dark-3xl;
    position: absolute;
    top: 0;
    left: calc(100% - 320px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    transform: translateX(320px);
    transition: .6s;
  }
  
  .burger-menu__heading {
    position: absolute;
    top: 30px;
    left: 10px;
  }
  
  .burger-menu__navigation {
    width: 243px;
    height: 327px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .burger-menu__navigation-item {
    list-style-type: none;
    a {
      text-decoration: none;
      @include paragraph-mobile-menu;
      color: $color-dark-s;
      &:hover {
        color: $color-light-s;
      }
    }
  }
  
  .burger-menu__navigation-item_active {
    border-bottom: 3px solid $color-primary;
    a {
      color: $color-light-s;
    }
  }

  .burger-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-dark-3xl;
    z-index: 2;
    opacity: 0.6;
    transition: 0.6s;
    &:hover {
      cursor: pointer;
    }
  }

  .burger-background_closed {
    z-index: -1;
    opacity: 0;
  }

  .burger-menu__navigation-item:nth-child(3),
  .burger-menu__navigation-item:nth-child(4) {
    pointer-events: none;
  }

  .side-menu {
    display: initial;
  }
}