* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  position: absolute;
  top: 60px;
}

.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  height: 60px;
}

.header__navigation {
  max-width: 443px;
  padding-bottom: 4px;
}

.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 443px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.navigation__item {
  display: inline-block;
  list-style: none;
}

.logo {
  height: 60px;
  text-align: center;
}

.logo__title {
  font-family: Georgia;
  font-weight: normal;
  font-size: 32px;
  font-style: normal;
  line-height: 110%;
  letter-spacing: 2px;
  color: #F1CDB3;
  padding-top: 1px;
}

.logo__subtitle {
  font-family: Arial;
  font-weight: normal;
  font-size: 13px;
  font-style: normal;
  line-height: 110%;
  letter-spacing: 1.3px;
  color: #FFFFFF;
  margin: 10px 0 0 1px;
}

.navigation a {
  font-family: Arial;
  font-weight: normal;
  font-size: 15px;
  font-style: normal;
  line-height: 160%;
  text-decoration: none;
  color: #CDCDCD;
}

.navigation a:hover {
  color: #FAFAFA;
}

.navigation__item-active a {
  color: #FAFAFA;
  padding-bottom: 4px;
  border-bottom: 3px solid #F1CDB3;
}

.not-only {
  width: 100%;
  background: url("../../assets/images/noise_transparent.svg"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.not-only .wrapper {
  max-width: 1200px;
  height: 908px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.not-only__content {
  width: 460px;
  padding-bottom: 244px;
}

.not-only__content-title {
  font-family: Georgia;
  font-weight: normal;
  font-size: 44px;
  font-style: normal;
  line-height: 130%;
  color: #FFFFFF;
  width: 310px;
  padding-bottom: 41px;
}

.not-only__content-text {
  font-family: Arial;
  font-weight: normal;
  font-size: 15px;
  font-style: normal;
  line-height: 160%;
  color: #CDCDCD;
  padding-bottom: 41px;
}

.button_colored {
  background-color: #F1CDB3;
  border: none;
  border-radius: 100px;
  font-family: Georgia;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 1px;
  color: #292929;
}

.button_colored:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}

.not-only__button {
  width: 207px;
  padding: 15px 45px;
}

.about .wrapper {
  max-width: 1200px;
  height: 588px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .container {
  width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__content {
  width: 430px;
}

.about__content-title {
  font-family: Georgia;
  font-weight: normal;
  font-size: 35px;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 2.1px;
  color: #545454;
  width: 370px;
  padding: 15px 0 0 1px;
}

.about__content-text {
  font-family: Arial;
  font-weight: normal;
  font-size: 15px;
  font-style: normal;
  line-height: 160%;
  color: #4C4C4C;
  padding: 24px 0 1px 1px;
}

.our-friends {
  background-color: #F6F6F6;
}

.our-friends .wrapper {
  max-width: 1200px;
  height: 877px;
  margin: 0 auto;
}

.our-friends__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slides-panel {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 59px 0 60px 1px;
}

.slides-panel__content {
  width: 990px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-item {
  width: 270px;
  height: 435px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FAFAFA;
  border-radius: 9px;
}

.card-item:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(62%, #FAFAFA), color-stop(62%, #FFFFFF));
  background: linear-gradient(to bottom, #FAFAFA 62%, #FFFFFF 62%);
}

.card-item__name {
  font-family: Georgia;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1px;
  margin-top: 30px;
  padding-left: 2px;
}

.button {
  font-family: Georgia;
  font-weight: normal;
  font-size: 17px;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 1px;
  color: #292929;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
}

.button:hover {
  cursor: pointer;
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.card-item__button {
  margin-top: 30px;
  width: 187px;
  padding: 13px 40px;
  background-color: #FFFFFF;
}

.our-friends__content-title {
  font-family: Georgia;
  font-weight: normal;
  font-size: 35px;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 2.1px;
  color: #545454;
  width: 400px;
  text-align: center;
  padding: 81px 0 0 2px;
}

.slide-left, .slide-right {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
}

.slide-left:hover, .slide-right:hover {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
  cursor: pointer;
}

.slide-left {
  background: url("../../assets/images/Arrow-left.svg") no-repeat center center;
}

.slide-right {
  background: url("../../assets/images/Arrow-right.svg") no-repeat center center;
}

.our-friends__button {
  margin-left: 2px;
  width: 261px;
  padding: 15px 40px;
}

.help .wrapper {
  max-width: 1200px;
  height: 611px;
  margin: 0 auto;
}

.help__content-title {
  font-family: Georgia;
  font-weight: normal;
  font-size: 35px;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 2.1px;
  color: #545454;
  margin: 0 auto;
  padding: 81px 0 60px 3px;
  text-align: center;
}

.icon-panel {
  margin: 0 auto;
  max-width: 1026px;
  height: 281px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons-panel__top {
  margin-left: 1px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon-panel__bottom {
  margin-left: 2px;
  width: 83.8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon-item {
  height: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon-item__name {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 1.2px;
  color: #545454;
}

.addition {
  background-color: #F6F6F6;
}

.addition .wrapper {
  max-width: 1200px;
  height: 464px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-card {
  width: 916px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 82px;
}

.addition__content {
  width: 381px;
}

.addition__content-title {
  font-family: Georgia;
  font-weight: normal;
  font-size: 35px;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 2.1px;
  width: 300px;
  color: #545454;
}

.addition__content-text {
  font-family: Georgia;
  font-weight: normal;
  font-size: 15px;
  font-style: normal;
  line-height: 110%;
  letter-spacing: 0.9px;
  padding-top: 20px;
}

.card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 349px;
  height: 43px;
  background-color: #F1CDB3;
  border-radius: 9px;
  margin: 20px 0 0 1px;
}

.card-info__number {
  text-decoration: none;
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 1.2px;
}

.addition__content-lorem-ipsum {
  font-family: Arial;
  font-weight: normal;
  font-size: 12px;
  font-style: italic;
  line-height: 150%;
  color: #B2B2B2;
  padding-top: 20px;
}

.addition__image {
  padding-top: 10px;
}

.footer {
  width: 100%;
  background: url("../../assets/images/noise_transparent.svg"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer .wrapper {
  max-width: 1200px;
  height: 350px;
  margin: 0 auto;
}

.layout-3-column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-content__title {
  font-family: Georgia;
  font-weight: normal;
  font-size: 35px;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 2.1px;
  width: 300px;
  color: #FFFFFF;
}

.email, .phone, .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 39px;
}

.phone {
  padding-top: 40px;
}

.email__address, .phone__number, .address__location {
  font-family: Georgia;
  font-weight: normal;
  font-size: 20px;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 1.2px;
  color: #F1CDB3;
  text-decoration: none;
  padding-left: 20px;
}

.footer-content {
  padding-top: 57px;
}

.image-container {
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.address {
  width: 302px;
  padding-top: 33px;
}

.address-content {
  margin-left: -19px;
}
/*# sourceMappingURL=styles.css.map */