.about {
  height: 588px;
}

.about .wrapper {
  max-width: 850px;
  height: 408px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.about__image {
  width: 300px;
  height: 408px;
  margin-top: 80px;
  img {
    width: 100%;
    height: auto;
  }
}

.about__content-container {
  width: 430px;
  height: 380px;
  margin-top: 95px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subtitle {
  @include h3;
}

.about__description {
  @include paragraph-l;
}

.about__content-container .subtitle {
  width: 370px;
}

@media screen and (max-width: 1279px) {
  .about {
    height: 1048px;
    padding-top: 80px;
  }

  .about .wrapper {
    width: 437px;
    height: 868px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .about__image, .about__content-container {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .about {
    height: 974px;
    padding-top: 0;
    display: flex;
    align-items: center;
  }

  .about .wrapper {
    width: 300px;
    height: 890px;
  }

  .about__image {
    width: 260px;
    height: 354px;
    margin-top: 42px;
  }

  .about__content-container {
    width: 300px;
  }

  .subtitle {
    @include h3-mobile;
  }

  .about .subtitle {
    margin: 0 auto;
    width: 250px;
    text-align: center;
  }

  .about__description {
    width: 270px;
    margin: 0 auto;
    margin-top: 25px;
    text-align: justify;
  }
}