// .burger-menu {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100vh;
//   overflow: hidden;
//   display: none;
//   &:hover {
//     cursor: pointer;
//   }
// }

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: $color-dark-3xl, $alpha: 0.6);
}

.burger-menu {
  width: 320px;
  height: 823px;
  background-color: $color-dark-3xl;
  position: absolute;
  // transform: translateX(320px);
  top: 0;
  left: calc(100vw - 320px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  cursor: default;
  animation-name: slide-in;
  animation-duration: .6s;
}

.fade-out {

}

.slide-out {
  transform: translateX(320px);
  animation-name: slide-out;
  animation-duration: .65s;
}

@keyframes slide-in {
  from {
    transform: translateX(320px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(320px);
  }
}

// .burger-menu {
//   display: none;
// }

@media screen and (max-width: 767px) {
  .burger-menu__heading {
    position: absolute;
    top: 30px;
    left: 10px;
  }
  
  .burger-menu__navigation {
    width: 243px;
    height: 327px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .burger-menu__navigation-item {
    list-style-type: none;
    a {
      text-decoration: none;
      @include paragraph-mobile-menu;
      color: $color-dark-s;
      &:hover {
        color: $color-light-s;
      }
    }
  }
  
  .burger-menu__navigation-item_active {
    border-bottom: 3px solid $color-primary;
    a {
      color: $color-light-s;
    }
  }

  .burger-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-dark-3xl;
    z-index: 2;
    opacity: 0.6;
    transition: 0.6s;
    &:hover {
      cursor: pointer;
    }
  }

  .burger-background_closed {
    z-index: -1;
    opacity: 0;
  }

  .burger-menu__navigation-item:nth-child(3),
  .burger-menu__navigation-item:nth-child(4) {
    pointer-events: none;
  }
}