.donation {
  height: 462px;
  background-color: $color-light-l;
  padding-top: 80px;
}

.donation .wrapper {
  max-width: 915px;
  height: 282px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.donation__image {
  width: 505px;
  height: 261px;
  img {
    width: 100%;
    height: auto;
  }
}

.donation__content-container {
  width: 380px;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.requisites {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.requisites__description {
  @include h5;
  color: $color-dark-l;
}

.bank-account {
  width: 350px;
  height: 43px;
  background-color: $color-primary;
  border-radius: 9px;
  display: flex;
  align-items: center;
}

.bank-account__image {
  margin: 0 15px;
}

.bank-account__number {
  @include h4;
  color: $color-dark-l;
}

.requisites__note {
  font-family: Arial;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.8rem;
  color: $color-dark-m;
}

.donation .subtitle {
  width: 300px;
}

@media screen and (max-width: 1279px) {
  .donation {
    height: 783px;
  }

  .donation .wrapper {
    width: 505px;
    height: 603px;
    margin: 0 auto;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 767px) {
  .donation {
    height: 542px;
    padding-top: 0;
    display: flex;
    align-items: center;
  }

  .donation .wrapper {
    width: 300px;
    height: 458px;
  }

  .donation__image {
    width: 260px;
    height: 135px;
  }

  .donation__content-container {
    width: 300px;
    height: 281px;
  }

  .donation .subtitle {
    width: 230px;
    margin: 0 auto;
    text-align: center;
  }

  .requisites__description {
    width: 273px;
    font-size: 1.5rem;
    line-height: 2.4rem;
    letter-spacing: 0;
    margin: 0 auto;
  }

  .bank-account {
    margin: 0 auto;
    width: 281px;
  }

  .bank-account__number {
    @include h5;
  }

  .requisites__note {
    margin: 0 auto;
    width: 280px;
    text-align: justify;
  }
}