.header {
  position: absolute;
  width: 100%;
  top: 60px;
}

.header .wrapper {
  max-width: 1200px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.heading, 
.burger-menu__heading {
  width: 190px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  transition: .6s;
}

.heading_disabled {
  opacity: 0;
}

.title,
.burger-menu__title {
  white-space: nowrap;
  @include logo_title;
}

.heading__description,
.burger-menu__description {
  @include logo_subtitle;
}

.navigation {
  width: 445px;
  display: inline-flex;
  justify-content: space-between;
}

.navigation__item {
  list-style-type: none;
  display: inline-block;
  a {
    text-decoration: none;
    @include paragraph-l;
    color: $color-dark-s;
  }
}

.navigation__item_active {
  border-bottom: 3px solid $color-primary;
  a {
    color: $color-light-s;
  }
}

.navigation__item:nth-child(3),
.navigation__item:nth-child(4) {
  pointer-events: none;
}

.side-menu {
  display: none;
  position: relative;
  z-index: 4;
}

.menu-icon {
  width: 30px;
  height: 22px;
  transform: rotate(0deg);
  transition: .6s;
  &:hover {
    cursor: pointer;
  }
}
.menu-icon_open {
  transform: rotate(90deg);
  transition: .6s;
}

@media screen and (max-width: 1279px) {
  .header {
    top: 30px;
  }

  .header .wrapper {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .header .wrapper {
    margin-left: 10px;
  }

  .navigation {
    display: none;
  }

  .side-menu {
    display: initial;
  }
}