.main {
  background: url('../assets/images/background.png'), $start-screen-gradient;
  height: 908px;
}

.main .wrapper {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.main__content-container {
  width: 460px;
  height: 322px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 243px;
}

.main__title {
  width: 310px;
  @include h2;
}

.main__description {
  @include paragraph-l;
  color: $color-dark-s;
}

.button_colored {
  width: 207px;
  height: 52px;
  border-radius: 100px;
  outline: none;
  border: none;
  font-family: Georgia;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.21rem;
  letter-spacing: 0.1rem;
  color: $color-dark-3xl;
  background-color: $color-primary;
  &:hover {
    cursor: pointer;
    background-color: $color-primary-light;
  }
}

.main__image {
  width: 698px;
  height: 728px;
  img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 1279px) {
  .main {
    height: 1165px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .main .wrapper {
    margin: 0;
    flex-direction: column;
    align-items: center;
    width: 569px;
    height: 1015px;
  }

  .main__content-container {
    margin-bottom: 0;
  }

  .main__image {
    align-self: flex-start;
    margin-left: 70px;
    width: 569px;
    height: 593px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .main .button_colored {
    align-self: center;
  }
}

@media screen and (max-width: 767px) {
  .main {
    height: 823px;
  }

  .main .wrapper {
    width: 300px;
    height: 673px;
  }

  .main__content-container {
    width: 300px;
    height: 296px;
  }

  .main__title {
    width: 250px;
    margin: 0 auto;
    text-align: center;
    @include h3-mobile;
  }

  .main__description {
    width: 300px;
    text-align: center;
  }

  .main__image {
    margin-left: 40px;
    width: 260px;
    height: 272px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}