.pets {
  background-color: $color-light-l;
  height: 877px;
  padding-top: 80px;
}

.pets .wrapper {
  width: 1200px;
  height: 697px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.slider {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide-left, .slide-right {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  outline: none;
  border: 2px solid $color-primary;
  background-color: $color-light-l;
  font-size: 1.6rem;
  font-weight: bold;
  padding-bottom: 2px;
  &:hover {
    cursor: pointer;
    background-color: $color-primary;
  }
}

.cards {
  display: flex;
  column-gap: 90px;
}

.card {
  width: 270px;
  height: 435px;
  background-color: $color-light-s;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    background-color: $color-light-xl;
  }
}

.card__image {
  width: 270px;
  height: 270px;
  img {
    width: 100%;
    height: auto;
  }
}

.card__name {
  margin: 30px 0;
  color: $color-dark-l;
  font-family: Georgia;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.27rem;
  letter-spacing: 0.1rem;
}

.card_button {
  width: 187px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid $color-primary;
  background-color: $color-light-s;
  outline: none;
  color: $color-dark-3xl;
  font-family: Georgia;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.27rem;
  letter-spacing: 0.1rem;
  &:hover {
    cursor: pointer;
    background-color: $color-primary;
  }
}

.pets__button {
  width: 261px;
}

.pets .subtitle {
  text-align: center;
}

.card__disabled {
  display: none;
}

@media screen and (max-width: 1279px) {
  .pets .wrapper {
    width: 708px;
  }

  .slider {
    width: 708px;
  }

  .cards {
    column-gap: 40px;
  }

  .card:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .pets {
    height: 791px;
    padding-top: 0;
    display: flex;
    align-items: center;
  }

  .pets .wrapper {
    width: 300px;
    height: 707px;
  }

  .card:nth-child(2) {
    display: none;
  }

  .slider {
    width: 270px;
    height: 507px;
    display: grid;
    grid-template-columns: 135px 135px;
    grid-template-rows: 435px 72px;
  }
  
  .cards {
   grid-column: 1 / span 2;
   grid-row: 0 / 1;
  }

  .slide-left {
    grid-column: 0 / span 1;
    grid-row: 2 / 3;
    align-self: flex-end;
    justify-self: center;
  }

  .slide-right {
    align-self: flex-end;
    justify-self: center;
  }
}